[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=server-database
Name=SQL Support
Name[cs]=Podpora SQL
Name[de]=SQL-Unterstützung
Name[es]=Implementación SQL
Name[et]=SQL-i toetus
Name[fr]=Prise en charge de SQL
Name[ga]=Tacaíocht SQL
Name[hu]=SQL támogatás
Name[nl]=Ondersteuning voor SQL
Name[pt]=Suporte para SQL
Name[pt_BR]=Suporte à SQL
Name[sk]=Podpora SQL
Name[sv]=SQL-stöd
Name[uk]=Підтримка SQL
Name[x-test]=xxSQL Supportxx
GenericName=SQL Support
GenericName[cs]=Podpora SQL
GenericName[de]=SQL-Unterstützung
GenericName[es]=Implementación SQL
GenericName[et]=SQL-i toetus
GenericName[fr]=Prise en charge de SQL
GenericName[ga]=Tacaíocht SQL
GenericName[hu]=SQL támogatás
GenericName[nl]=Ondersteuning voor SQL
GenericName[pt]=Suporte para SQL
GenericName[pt_BR]=Suporte à SQL
GenericName[sk]=Podpora SQL
GenericName[sv]=SQL-stöd
GenericName[uk]=Підтримка SQL
GenericName[x-test]=xxSQL Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsqllanguagesupport
X-KDE-PluginInfo-Name=kdevsqllanguagesupport
X-KDevelop-Version=16
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
#X-KDevelop-Language=Sql
#X-KDevelop-SupportedMimeTypes=text/sql
