[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=server-database
Name=SQL Support
Name[es]=Implementación SQL
Name[pt]=Suporte para SQL
Name[pt_BR]=Suporte à SQL
Name[sk]=Podpora SQL
Name[uk]=Підтримка SQL
Name[x-test]=xxSQL Supportxx
GenericName=SQL Support
GenericName[es]=Implementación SQL
GenericName[nl]=Ondersteuning voor SQL
GenericName[pt]=Suporte para SQL
GenericName[pt_BR]=Suporte à SQL
GenericName[sk]=Podpora SQL
GenericName[uk]=Підтримка SQL
GenericName[x-test]=xxSQL Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsqllanguagesupport
X-KDE-PluginInfo-Name=kdevsqllanguagesupport
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
#X-KDevelop-Language=Sql
#X-KDevelop-SupportedMimeTypes=text/sql
